{% extends "sample.html" %}
{% block content %}


<p></p>

<div class = "container col-lg-8 centered questionContainer ">



<h1 class = "container animated fadeInDown  text-center question "> <hr>
  {{question.questionText}}
  <hr>
</h1>


<div class ="raw  text-center" >
      {% for answer in answers %}

      <button  type="button" onclick="window.location={{answer.nextQuestionId}}" class ="col-lg-3  centered button btn animated fadeInDown"> {{ answer.answerText }} </button>
      {% endfor %}
</div>
</div>
{% endblock %}
